<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sigue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sigue.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sigue</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sigue</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User ID=sigue@f6c7jy98e0;Password=alvarez@2014" Name="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User Id=sigue@f6c7jy98e0;Password=alvarez@2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sigue.Models.ApplicationDbContext, Sigue" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="sigue_dbEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User ID=sigue@f6c7jy98e0;Password=alvarez@2014" Name="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User Id=sigue@f6c7jy98e0;Password=alvarez@2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sigue.Models.sigue_dbEntities1, Sigue" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="sigue_dbEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User ID=sigue@f6c7jy98e0;Password=alvarez@2014" Name="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User Id=sigue@f6c7jy98e0;Password=alvarez@2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User ID=sigue;Password=alvarez@2014;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sigue_dbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelSigue.csdl|res://*/Models.ModelSigue.ssdl|res://*/Models.ModelSigue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=f6c7jy98e0.database.windows.net,1433;initial catalog=sigue_db;user id=sigue;password=alvarez@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User Id=sigue@f6c7jy98e0;Password=alvarez@2014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sigue_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelSigue.csdl|res://*/Models.ModelSigue.ssdl|res://*/Models.ModelSigue.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:f6c7jy98e0.database.windows.net,1433;initial catalog=sigue_db;user id=sigue@f6c7jy98e0;password=alvarez@2014;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sigue_dbEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelSigue.csdl|res://*/Models.ModelSigue.ssdl|res://*/Models.ModelSigue.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:f6c7jy98e0.database.windows.net,1433;Initial Catalog=sigue_db;User Id=sigue@f6c7jy98e0;Password=alvarez@2014"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>