@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Tecnológico de Antioquia<br />
    Medellín, Robledo <br />
    <abbr title="Phone">P:</abbr>
    4547000
</address>

<address>
    <strong>Support:</strong>   <a href="www.tdea.edu.co">TdeA</a><br />
    
</address>